.header__icon{
    display: flex;
    padding: 24px 0 0 0;
    height: 40px;
}
.header__menu{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    --icon__color: #ff3e79;
    background-color: var(--icon__color);
    margin-left: 21px;
}
.header__cps{
    height: 40px;
    width: 40px;
    border: none;
    margin-left: 16px;
}
#square{
    margin: 5px 0 0 80px;
    width: 2px;
    height: 32px;
    background-color:#EAEAEA ;
}
.header__support--icon{
    margin-left: 16px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    background-color: var(--icon__color);
}
.header__separation{
    margin-top: 24px;
    width: 320px;
    height: 1px;
    --shadow__color: #d9fff5;
    background-color: var(--shadow__color);
}
.herobox--menu{
    position: fixed;
    margin: 16px 0 0 0;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-radius: 0 4px 4px 0;
}
.herobox--text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding: 16px 0px 0px 16px;
}