$icon--color:#ff3e79;
$square--color:#eaeaea;
$seporator--color: #d9fff5;
$herobox__menu--color:#41F6D7;
<<<<<<< HEAD
=======
$conteiner--bgcolor:#F8F8F8;
$text__slider--color:#7E7E82;
>>>>>>> a6b1ee0 (some fixes)
