@import "./variables.scss";

@import "./Colors.scss";

@import "./Slider.scss";

@import "/styles/swiper.scss";

@import "./Table.scss";

#app {
  display: flex;
  position: relative;
}

.main {
  width: 100%;
  height: 100vh;
}

.main__menu {
  display: none;
  height: 100vh;
  background-color: white;
  width: 320px;
  z-index: 1920;
  position: fixed;
  @media (min-width: $desktop-width) {
    display: flex;
    height: 100vh;
    background-color: white;
    width: 320px;
    flex-direction: column;
  }
}

.main__menu--opened {
  display: flex;
  flex-direction: column;
  box-shadow: 24px 0px 22px 0px rgba(27, 28, 33, 0.2),
    0 0px 0px 100vw rgba(255, 255, 255, 0.75);
}
.main__menu--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  max-height: 88px;
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
  }
}
.burger__close {
  margin-left: 16px;
  height: 40px;
  width: 40px;
  padding-top: $icon--padding;
  border: none;
  border-radius: 100%;
  background-color: $icon--color;
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.main__menu--logo {
  background-color: white;
  max-height: 57px;
  max-width: 110px;
  border: none;
  padding-top: 3px;
  margin-right: 56px;
}
.main__menu--search {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100%;
  background-color: $icon--color;
  padding-top: $icon--padding;
  margin-right: 24px;
}
.main__menu--text {
  font-family: "TT Lakes";
  list-style: none;
  padding: 16px 0 0 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.main__menu--support {
  margin-top: auto;
  @media (min-width: $desktop-width) {
    margin-top: auto;

    @media (min-width: $desktop-width) {
      margin-bottom: 16px;
    }
  }
}
.main__menu--icons {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 0 24px;
  width: 160px;
  @media (min-width: $desktop-width) {
    padding: 24px 0 0 24px;
  }
}
.main__menu--call {
  justify-content: center;
  align-items: center;
  background-color: $icon--color;
  padding-top: $icon--padding;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.main__menu--chat {
  justify-content: center;
  align-items: center;
  background-color: $icon--color;
  padding-top: $icon--padding;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.main__menu--profile {
  padding: 0%;
  justify-content: center;
  align-items: center;
  background-color: $icon--color;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: none;
}
.main__menu--eMail {
  font-family: "TT Lakes";
  list-style: none;
  flex-direction: column;
}
.main__menu--eMail--items {
  display: flex;
  padding: 0 0 0 24px;
  font-family: "TT Lakes";
  list-style: none;
  flex-direction: column;
}
.main__menu--number {
  display: flex;
  padding: 0 0 0 24px;
  font-family: "TT Lakes";
  font-size: 24px;
  font-weight: bolder;
  list-style: none;
  flex-direction: column;
}
.main__menu--language {
  display: flex;
  padding: 0 0 0 24px;
  font-family: "TT Lakes";
  list-style: none;
  flex-direction: column;
  width: 120px;
  justify-content: space-between;
}

.support__SMS{
  background-color: white;
  display: none;
  height: 100vh;
  width: 320px;
  z-index: 1920;
  position: fixed;
  box-sizing: border-box;
  right: 0;
  @media (min-width: $desktop-width) {
    width: 440px;
  }
}

.support__SMS--opened{
  display: flex;
  box-shadow:  0px 0px 8px 5px rgba(69, 79, 126, 0.2),
    0 0px 0px 100vw rgba(255, 255, 255, 0.96);
}

.support__SMS__close{
  margin-left: 16px;
  height: 40px;
  width: 40px;
  padding-top: $icon--padding;
  border: none;
  border-radius: 100%;
  background-color: $icon--color;
  @media (min-width: $desktop-width) {
    position: absolute;
    margin-left: -74px;
    margin-top: 30px;
  }
}

.support__SMS--conteiner{
  width: 304px;
  height: 526px;
  margin-top: 24px;
  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 440px;
  }
}

.support__SMS--text-all{
  margin-top: 32px;
  display: flex;
  list-style: none;
  padding: 0%;
  flex-direction: row;
  align-items: center;
}

.support__SMS--text1{
  font-size: 24px;
  font-family: "TT Lakes";
  font-weight: 800;
  padding-left: 12px;
}

.support__SMS--seporator{
  display: block;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 0 4px 4px 0;
}

.support__SMS--input-all{
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #B5B6BC;
  font-family: "TT Lakes";
  font-size: 16px;
  row-gap: 16px;
  padding: 0;
}

.support__SMS--input1,
.support__SMS--input2{
  border: #EAEAEA 1px solid;
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 16px;
  width: 288px;
  margin-left: 16px;
  @media (min-width: $desktop-width) {
    width: 376px;
    margin-left: 32px;
  }
}

.support__SMS--input1{
  height: 48px;
}
.support__SMS--input2{
  height: 118px;
}

.support__SMS--agreement,
.support__SMS--agreement-link{
  font-family: "TT Lakes";

  max-width: 376px;
}

.support__SMS--agreement{
  color:#7E7E82 ;
  margin-left: 32px;
}

.support__SMS--agreement-link{
  color: #FF3E79;
  display: inline;
}

.support__SMS--button{
  display: flex;
  width: 136px;
  height: 32px;
  background-color: #FF3E79;
  border-radius: 16px;
  border: none;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: "TT Lakes";
  margin: 19px 0 0 168px;
  @media (min-width: $desktop-width) {
    margin: 19px 0 0 270px;
  }
}




.support__call{
  background-color: white;
  display: none;
  height: 100vh;
  width: 320px;
  z-index: 1920;
  position: fixed;
  box-sizing: border-box;
  right: 0;
}
.support__call--opened{
  display: flex;
}




.header {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;

  @media (min-width: $desktop-width) {
    padding: 24px 0 0 320px;
    box-sizing: border-box;
    min-height: 200%;
  }
}
.header__navigation {
  display: flex;
  height: 88px;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.burger {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100%;
  background-color: $icon--color;
  padding-top: $icon--padding;
  margin-left: 16px;
  max-width: 40px;
  max-height: 40px;
  justify-content: center;
  align-items: center;
}
.tablet__square {
  display: none;

  @media (min-width: $tablet-width) {
    width: 2px;
    height: 32px;
    background-color: $square--color;
    display: flex;
  }
}
.header__logo {
  background-color: white;
  border: none;
  max-width: 97px;
  max-height: 51px;
  padding: auto;
  justify-content: center;
  margin-bottom: 2px;
}
#square {
  width: 2px;
  height: 32px;
  background-color: $square--color;
  display: flex;
  margin-top: 30px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.tablet__square--alt {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 2px;
    height: 32px;
    background-color: $square--color;
  }
}
.header__support--icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  background-color: $icon--color;
  padding-top: $icon--padding;
  max-width: 40px;
  max-height: 40px;
  justify-content: center;
  align-items: center;
}
.header__search {
  margin: 0 24px 0 0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  background-color: $icon--color;
  padding-top: $icon--padding;
  max-width: 40px;
  max-height: 40px;
  justify-content: center;
  align-items: center;
}
.header__separation {
  width: 100vw;
  height: 2px;
  background-color: $seporator--color;
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__action {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 155px;
  }
}
.header__call {
  justify-content: center;
  align-items: center;
  background-color: $icon--color;
  padding-top: $icon--padding;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.header__chat {
  justify-content: center;
  align-items: center;
  background-color: $icon--color;
  padding-top: $icon--padding;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.header__profile {
  padding: 0%;
  justify-content: center;
  align-items: center;
  background-color: $icon--color;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: none;
}
.header__left--icon {
  height: 100%;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 200px;
  }
}
.header__right--icon {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 320px;
  }
}
.hero {
  display: flex;
}
.herobox--menu {
  display: flex;
  margin: 16px 0 0 0;
  width: 4px;
  height: 40px;
  background-color: $herobox__menu--color;
  border-radius: 0 4px 4px 0;
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
.herobox--text {
  display: flex;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-top: -36px;
  padding: 0 0px 0px 16px;
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
.conteiner {
  display: flex;
  z-index: 1;
  background-color: $conteiner--bgcolor;
  max-width: 100%;
  max-height: 100%;
  height: 500px;
  @media (min-width: $desktop-width) {
    margin-left: 320px;
  }
}
.header__separation {
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: $seporator--color;
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.herobox__menu {
  display: flex;
  position: absolute;
  height: 40px;
  margin: 28px 0 0 0;
}
.herobox__menu--icon {
  background-color: $herobox__menu--color;
  width: 4px;
  height: 40px;
  border-radius: 0 4px 4px 0;
}
.herobox__menu--text {
  font-size: 28px;
  margin: 5px 0 0 10px;
  font-family: "TT Lakes";
  font-weight: 700;
}
.herobox__menu--support {
  @media (min-width: $desktop-width) {
    width: 350px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
  }
  display: none;
}
.herobox__menu--support-Application {
  display: flex;
  font-family: "TT Lakes";
}
.herobox__menu--support-Application-stat {
  display: flex;
  padding: 0%;
  z-index: 2;
  justify-content: space-between;
}
.herobox__menu-support-Application--icon {
  background-color: $icon--color;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.herobox__menu-support-Application-stat--icon {
  background-color: $icon--color;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.herobox__company-info {
  display: flex;
  font-size: 14px;
  font-family: "TT Lakes";
  max-width: 288px;
  max-height: 90px;
  margin: 5px 0 0 16px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.herobox__company-info--tablet {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    font-family: "TT Lakes";
    font-size: 14px;
    max-width: 312px;
    max-height: 160px;
    margin: 5px 0 0 16px;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.herobox__company-info--desktop {
  display: none;
  @media (min-width: $desktop-width) {
    display: flex;
    font-family: "TT Lakes";
    font-size: 14px;
    max-width: 490px;
    max-height: 160px;
    margin: 5px 0 0 16px;
  }
}
.herobox__read_more--icon {
  margin: 16px 0 0 24px;
  display: flex;
}
.herobox__read_more {
  font-family: "TT Lakes";
  margin: -14px 0 0 45px;
  font-weight: 500;
  font-size: 16px;
}
.herobox__CPS-picture {
  display: none;
  @media (min-width: $tablet-width) {
    width: 360px;
    height: 208px;
    display: flex;
    position: absolute;
    margin: 6px 0 0 384px;
    border-radius: 10px;
  }
  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 530px;
    max-height: 292px;
    margin-left: 560px;
    box-sizing: border-box;
    display: flex;
    position: absolute;
  }
}
.herobox__CPS-picture--phone {
  width: 320px;
  height: 176px;
  display: flex;
  margin-top: 16px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.herobox__show_all--icon {
  @media (min-width: $tablet-width) {
    margin: 24px 0 0 24px;
    display: flex;
  }
  display: none;
}
.herobox__show_all {
  @media (min-width: $tablet-width) {
    font-family: "TT Lakes";
    display: flex;
    margin: -14px 0 0 45px;
    font-weight: 500;
    font-size: 16px;
  }
  display: none;
}
.herobox__separation {
  width: 100%;
  box-sizing: border-box;
  height: 2px;
  background-color: $seporator--color;
  margin: 24px 0 0 0;
  @media (min-width: $tablet-width) {
    margin: 103px 0 0 0;
  }
  @media (min-width: $desktop-width) {
    margin: 183px 0 0 0;
  }
}
.shapcka {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 32px;
  background: linear-gradient(90deg, rgb(248, 248, 248), rgb(255, 255, 255));
  font-family: "TT Lakes";
  text-transform: uppercase;
  color: #7e7e82;
  width: 100%;
  height: 56px;
}
.shapcka2 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 32px;
  background: linear-gradient(90deg, rgb(248, 248, 248), rgb(255, 255, 255));
  font-family: "TT Lakes";
  text-transform: uppercase;
  color: #7e7e82;
  width: 100%;
  height: 56px;
}
.herobox__separation2 {
  width: 100%;
  box-sizing: border-box;
  height: 2px;
  background-color: $seporator--color;
  margin: 24px 0 0 0;
}
.herobox__separation3 {
  width: 100%;
  box-sizing: border-box;
  height: 2px;
  background-color: $seporator--color;
  margin: 50px 0 0 0;
}
.herobox__show_all_2--icon {
  display: none;
  @media (min-width: $tablet-width) {
    margin: 0 0 0 24px;
    display: flex;
  }
}
.t_body{
  background-color: white;
  border-radius: 6px;
}
.predbottom{
  margin-left: 32px;
  margin-top: 32px;
  box-sizing: border-box;
}
.predbottom__text,
.predbottom__text2{
  width: auto;
  max-width: 421px;
  font-family: "TT Lakes";
  
}
.predbottom__text{
  line-height: 20px;
  font-size: 14px;
  color: #1B1C21;
}
.predbottom__text2{
  position: relative;
  display: block;
  height: auto;
  font-size: 16px;
  max-width: 320px;
  max-height: 36px;
  color: #1B1C21;
}

.predbottom__text2--img{
  position: relative;
  height: 12px;
  width: 7px;
  padding-left: 10px;
  top: 2px;
}

.bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: $tablet-width) {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
  }
}
.bottom__seporation{
  width: 100%;
  margin-top: 50px;
  height: 2px;
  background-color: $seporator--color;
  box-sizing: content-box;
}
.bottom__text,
.bottom__text2,
.bottom__text3{
  font-family: "TT Lakes";
  color: #7E7E82;
  width: auto;
  height: auto;
  @media (max-width: $tablet-width) {
    padding: 0%;
  }
}
.bottom__text2{
  padding: 16px 0px 0 0;
}
.bottom__text3{
  padding: 16px 0 22px 0px;
  @media (min-width: $tablet-width) {
    text-align: end;
  }
}


.swiper-slide_services,
.last_swiper__text_all{
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;
}
.swiper-slide_services{
  min-height: 168px;
  padding: 16px;
  row-gap: 10px;
  justify-content: normal;
}
.last_swiper__text_all{
  display: flex;
  padding: 0%;
  row-gap: 6px;
}
.last_swiper__text1,
.last_swiper__text2{
  font-size: 14px;
  font-family: 'TT Lakes';
  text-align: left;
}
.last_swiper__text1{
  color: #1B1C21;
  height: 32px;
}
.last_swiper__text2{
  color: #7E7E82;
}
.last_swiper__button{
  text-transform: uppercase;
  display: flex;
  background-color: #FF3E79;
  border-radius: 16px;
  border: none;
  font-size: 12px;
  color: white;
  font-family: 'TT Lakes';
  align-items: center;
  justify-content: space-between;
  width: 119px;
  height: 32px;
  padding:0 8px 0 12px;
  position: absolute;
  margin-top: 136px;
  margin-left: 122px;
}
.last_swiper__button img{
  height: 24px;
  width: 24px;
}