@import "./variables.scss";

#app {
  display: flex;
}

.main__menu {
  display: none;
  height: 100vh;
  background-color: white;
  width: 320px;
  z-index: 1;
  position: fixed;
  @media (min-width: $desktop-width) {
    display: flex;
    height: 100%;
    background-color: white;
    width: 320px;
    z-index: 1;
    position: fixed;
    flex-direction:column ;
  }
}

.main__menu--opened {
  display: flex;
  flex-direction: column;
}
.main__menu--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  @media (min-width: $desktop-width) {
    display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  }
}
.burger__close {
  margin-left: 24px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100%;
  background-color: #ff3e79;
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.main__menu--logo {
  background-color: white;
  max-height: 57px;
  max-width: 110px;
  border: none;
  padding-top: 3px;
  margin-right: 56px;
}
.main__menu--search {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100%;
  background-color: #ff3e79;
  margin-right: 24px;
}
.main__menu--text {
  font-family: "TT Lakes";
  list-style: none;
  padding: 16px 0 0 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.main__menu--support{
  margin-top: auto;
}
.main__menu--icons {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 0 24px;
  width: 160px;
    @media (min-width: $desktop-width) {
      padding: 24px 0 0 24px;
    }
}
.main__menu--call {
  justify-content: center;
  align-items: center;
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.main__menu--chat {
  justify-content: center;
  align-items: center;
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.main__menu--profile {
  padding: 0%;
  justify-content: center;
  align-items: center;
  background-color: #ff3e79;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: none;
}
.main__menu--eMail {

  font-family: "TT Lakes";
  list-style: none;
  flex-direction: column;
}
.main__menu--eMail--items {
  display: flex;
  padding: 0 0 0 24px;
  font-family: "TT Lakes";
  list-style: none;
  flex-direction: column;
}
.main__menu--number {
  display: flex;
  padding: 0 0 0 24px;
  font-family: "TT Lakes";
  font-size: 24px;
  font-weight: bolder;
  list-style: none;
  flex-direction: column;
}
.main__menu--language {
  display: flex;
  padding: 0 0 0 24px;
  font-family: "TT Lakes";
  list-style: none;
  flex-direction: column;
  width: 120px;
  justify-content: space-between;
}
.header {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.header__navigation {
  display: flex;
  height: 88px;
  width: 100%;
  justify-content: space-between;
}
.burger {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100%;
  background-color: #ff3e79;
  margin-left: 24px;
  max-width: 40px;
  max-height: 40px;
  justify-content: center;
  align-items: center;
}
.tablet__square {
  display: none;

  @media (min-width: $tablet-width) {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    display: flex;
  }
}
.header__logo {
  background-color: white;
  border: none;
  max-width: 97px;
  max-height: 51px;
  justify-content: center;
  align-items: center;
}
#square {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  display: flex;
  margin-top: 30px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.tablet__square--alt {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
  }
}
.header__support--icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  background-color: #ff3e79;
  max-width: 40px;
  max-height: 40px;
  justify-content: center;
  align-items: center;
}
.header__search {
  margin: 0 16px 0 0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  background-color: #ff3e79;
  max-width: 40px;
  max-height: 40px;
  justify-content: center;
  align-items: center;
}
.header__separation {
  width: 100vw;
  height: 1px;
  --shadow__color: #d9fff5;
  background-color: var(--shadow__color);
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__action {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 155px;
  }
}
.header__call {
  justify-content: center;
  align-items: center;
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.header__chat {
  justify-content: center;
  align-items: center;
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.header__profile {
  padding: 0%;
  justify-content: center;
  align-items: center;
  background-color: #ff3e79;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: none;
}
.header__left--icon {
  height: 100%;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 200px;
  }
}
.header__right--icon {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 320px;
  }
}
.hero {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
.herobox--menu {
  display: flex;
  position: fixed;
  margin: 16px 0 0 2px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 4px;
  @media (min-width: $desktop-width) {
    display: flex;
    margin-left: 320px;
  }
}
.herobox--text {
  display: flex;
  position: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding: 16px 0px 0px 16px;
  @media (min-width: $desktop-width) {
    display: flex;
    width: 350px;
  }
}
