body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  min-height: 120px;
  box-sizing: border-box ;
  z-index: 1 !important;
}

.swiper-slide {
  width: 240px !important;
  height: 72px !important;
  margin: 16px 0 0 16px !important;
  border-radius: 6px;
  padding: 0 16px 0 16px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.swiper-slide__button {
  max-width: 40px;
  max-height: 40px;
}

.swiper-pagination-bullet-active {
  background: #b5b6bc !important;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet {
  background: #dddddd;
  width: 12px;
  height: 12px;
}
